In [ ]:
import pandas as pd
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
food_data = pd.read_csv(url, encoding='latin1')

In [265]:
#13 total number and percentage of missing data in 2016 to 2 decimal places

total_sum=food_data['Y2016'].sum()
null_sum=food_data['Y2016'].isnull().sum()
print(round(null_sum, 2))
print(round((null_sum/total_sum)*100, 2))

1535
0.02

In [263]:
#12 Mean and standard deviation for the year 2015

print('mean =' ,round(food_data['Y2015'].mean(),3))
print('standard deviation =' ,round(food_data['Y2015'].std(),3))

mean = 135.236
standard deviation = 1603.404

In [239]:
#11. Total sum of animal fat produced in 2014 and 2017

food_data.groupby('Item')[['Y2014','Y2017']].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [183]:
#15 The year with the highest sum of import quantity

food_data.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [179]:
#16 Total number of the sum of production in 2014

food_data.groupby('Element')[['Y2014']].sum()

                                             Y2014
Element
Domestic supply quantity                1996716.35
Export Quantity                          150020.64
Fat supply quantity (g/capita/day)        10225.56
Feed                                     216927.89
Food                                    1212332.49
Food supply (kcal/capita/day)            454257.00
Food supply quantity (kg/capita/yr)       49650.63
Import Quantity                          274144.48
Losses                                   153223.00
Other uses (non-food)                     78718.13
Processing                               282923.00
Production                              1931287.75
Protein supply quantity (g/capita/day)    11836.46
Residuals                                 30149.00
Seed                                      21922.92
Stock Variation                           58749.83
Total Population - Both sexes           1031585.00
Tourist consumption                         416.00

In [237]:
#17 The element having the highest sum in 2018

food_data.groupby('Element')[['Element','Y2018']].sum().sort_values(by='Y2018', ascending=False)

                                             Y2018
Element
Domestic supply quantity                2161192.10
Production                              2075072.89
Food                                    1303841.28
Total Population - Both sexes           1140605.00
Food supply (kcal/capita/day)            455261.00
Processing                               308429.00
Import Quantity                          287997.09
Feed                                     233489.68
Export Quantity                          181594.80
Losses                                   163902.00
Other uses (non-food)                     91300.97
Food supply quantity (kg/capita/yr)       49056.85
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00

In [238]:
#18 The element having the 3rd lowest sum in 2018

food_data.groupby('Element')[['Element','Y2018']].sum().sort_values(by=['Y2018'])

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

In [209]:
#19 Total import quantity in algeria

food_data.groupby(['Area','Element']).sum().T

Area                          Algeria                  \
Element      Domestic supply quantity Export Quantity
Area Code                      464.00          392.00
Item Code                   311204.00       264011.00
Element Code                614916.00       579278.00
Y2014                        83755.94         1328.64
Y2015                        85972.86         1104.62
Y2016                        87157.61         1340.22
Y2017                        86810.42         1494.54
Y2018                        90023.42          811.54

Area                                                                   \
Element      Fat supply quantity (g/capita/day)       Feed       Food
Area Code                                432.00      88.00     420.00
Item Code                             291489.00   58967.00  282744.00
Element Code                           73872.00  121462.00  539910.00
Y2014                                    320.19    9656.04   60582.69
Y2015                                    317.40   10308.00   61693.49
Y2016                                    309.54    9903.00   63081.43
Y2017                                    320.74    9571.00   62785.33
Y2018                                    309.09   10668.00   63736.33

Area                                        \
Element      Food supply (kcal/capita/day)
Area Code                            432.0
Item Code                         291489.0
Element Code                       71712.0
Y2014                              13500.0
Y2015                              13512.0
Y2016                              13483.0
Y2017                              13363.0
Y2018                              13288.0

Area                                                                        \
Element      Food supply quantity (kg/capita/yr) Import Quantity    Losses
Area Code                                 420.00          448.00     208.0
Item Code                              282744.00       301030.00  139857.0
Element Code                            67725.00       628432.00  266396.0
Y2014                                    1556.45        34940.12    7231.0
Y2015                                    1552.81        37841.91    7471.0
Y2016                                    1555.77        36736.08    7405.0
Y2017                                    1516.94        36059.29    7428.0
Y2018                                    1509.28        36238.29    7708.0

Area                                ...        Zimbabwe            \
Element      Other uses (non-food)  ... Import Quantity    Losses
Area Code                   148.00  ...        20815.00    9774.0
Item Code                101269.00  ...       308730.00  144929.0
Element Code             190698.00  ...       645265.00  276642.0
Y2014                      3315.22  ...         2490.58     783.0
Y2015                      3483.37  ...         3244.03     746.0
Y2016                      3400.17  ...         3653.98     776.0
Y2017                      3534.08  ...         2083.84    1132.0
Y2018                      3970.08  ...         1673.84     891.0

Area                                                      \
Element      Other uses (non-food) Processing Production
Area Code                  7059.00    11041.0    17738.0
Item Code                106124.00   162480.0   261861.0
Element Code             201006.00   312991.0   540078.0
Y2014                       192.16     8492.0    16130.5
Y2015                       173.13     7914.0    14032.0
Y2016                       107.07     8261.0    14267.6
Y2017                       100.06     7852.0    15913.6
Y2018                       106.06     8300.0    16161.6

Area                                                                     \
Element      Protein supply quantity (g/capita/day) Residuals      Seed
Area Code                                  20453.00   18824.0    3439.0
Item Code                                 304589.00  277476.0   50560.0
Element Code                               76162.00  537680.0  105013.0
Y2014                                        184.23    -252.0     144.0
Y2015                                        175.31    -780.0     128.0
Y2016                                        172.72    -882.0     127.0
Y2017                                        175.31   -1083.0     162.0
Y2018                                        176.57    -546.0     140.0

Area
Element      Stock Variation Total Population - Both sexes
Area Code            17195.0                         181.0
Item Code           254157.0                        2501.0
Element Code        481840.0                         511.0
Y2014                 -644.0                       13587.0
Y2015                 -343.0                       13815.0
Y2016                  221.0                       14030.0
Y2017                  458.0                       14237.0
Y2018                 -447.0                       14439.0

[8 rows x 803 columns]

In [175]:
#20 total number of unique countries in the dataset

food_data['Area'].describe(include='all')

count     60943
unique       49
top       Kenya
freq       1560
Name: Area, dtype: object

In [268]:
#14 the year with the highest correlation with â€˜Element Codeâ€™

food_data.groupby(['Element Code'])[['Y2014','Y2015','Y2016','Y2017','Y2018']].corr()

                       Y2014     Y2015     Y2016     Y2017     Y2018
Element Code
511          Y2014  1.000000  0.999988  0.999951  0.999885  0.999791
             Y2015  0.999988  1.000000  0.999987  0.999947  0.999878
             Y2016  0.999951  0.999987  1.000000  0.999986  0.999944
             Y2017  0.999885  0.999947  0.999986  1.000000  0.999986
             Y2018  0.999791  0.999878  0.999944  0.999986  1.000000
...                      ...       ...       ...       ...       ...
5911         Y2014  1.000000  0.976942  0.992694  0.941934  0.942024
             Y2015  0.976942  1.000000  0.965195  0.863665  0.863140
             Y2016  0.992694  0.965195  1.000000  0.963790  0.963378
             Y2017  0.941934  0.863665  0.963790  1.000000  0.999409
             Y2018  0.942024  0.863140  0.963378  0.999409  1.000000

[90 rows x 5 columns]